<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= product.name %> - Product Detail</title>
  <link href="https://cdn.alands.xyz/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.alands.xyz/css/all.min.css" rel="stylesheet">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1JYCKZXYM3"></script>
<!-- Google tag (gtag.js) -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1JYCKZXYM3');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P4VD4HMR');</script>
<!-- End Google Tag Manager -->
<style>
    body {
      background-color: #f0f4f8;
      font-family: 'Roboto', sans-serif;
    }
    .product-detail, .purchase-form {
      background: #fff;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }
    .product-title {
      font-size: 2.5rem;
      font-weight: bold;
      color: #333;
      text-transform: uppercase;
      margin-bottom: 20px;
      background: linear-gradient(90deg, #ff416c, #ff4b2b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .product-price {
      font-size: 1.8rem;
      color: #34d399;
      margin-top: 15px;
    }
    .btn-primary {
      background: linear-gradient(135deg, #ff416c, #ff4b2b);
    }
    .btn-success {
      background-color: #34d399;
      transition: background-color 0.3s;
    }
    .btn-success:hover {
      background-color: #22c55e;
    }
    #subtotal {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 15px;
      text-align: right;
    }
    .list-group-item {
      border: none;
      padding: 10px 0;
    }
    .list-group-item h6 {
      margin-bottom: 0;
    }
  </style>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P4VD4HMR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="product-detail">
        <h1 class="product-title" id="namaProduk"><%= product.name %></h1>
        <p class="text-muted mb-3"><%= product.description %></p>
        <p class="product-price">Harga: Rp. <%= product.price %></p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="purchase-form">
        <h3 class="text-xl font-semibold mb-4">Checkout</h3>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0"><%= product.name %></h6>
              <small class="text-muted"><%= product.description %></small>
            </div>
            <span class="text-muted">Rp. <%= product.price %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>Coupon: <span id="applied-coupon">tidak menggunakan coupon</span></small>
            </div>
            <span class="text-success" id="discount-amount">-</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (IDR)</span>
            <strong id="subtotal">Rp. <%= product.price %></strong>
          </li>
        </ul>

        <form id="checkout-form">
          <div class="form-group mb-4">
            <label for="recipient-name" class="font-semibold">Nama Kamu</label>
            <input type="text" id="recipient-name" class="form-control" placeholder="Masukan nama mu" required>
          </div>

          <div class="form-group mb-4">
            <label for="whatsapp-number" class="font-semibold">Nomor WhatsApp</label>
            <input type="tel" id="whatsapp-number" class="form-control" placeholder="Masukan nomor whatsapp mu" required>
          </div>

          <div class="form-group mb-4">
            <label for="coupon-code" class="font-semibold">Coupon Code (Optional)</label>
            <input type="text" id="coupon-code" class="form-control" placeholder="Masukan kode promo (optional)">
          </div>

          <button type="button" id="redeem-button" class="btn btn-primary w-100 mb-4" onclick="applyCoupon()">Redeem</button>

          <!-- Checkout Button -->
          <button type="button" class="btn btn-success w-100" onclick="checkout('<%= product.name %>', <%= product.price %>, '<%= product.description %>')">
            beli di whatsapp <i class="fab fa-whatsapp"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  let couponApplied = false; // Flag to check if coupon has been applied

  async function applyCoupon() {
    if (couponApplied) {
      alert('Coupon already redeemed.');
      return;
    }

    const couponCode = document.getElementById('coupon-code').value;
    const priceElement = document.getElementById('subtotal');
    const discountElement = document.getElementById('discount-amount');
    const appliedCouponElement = document.getElementById('applied-coupon');
    const redeemButton = document.getElementById('redeem-button');
    let subtotal = parseFloat(priceElement.textContent.replace('Rp.', '').replace(',', ''));

    try {
      const response = await fetch("https://cdn.alands.xyz/json/coupon.json");
      const couponData = await response.json();

      if (couponData[couponCode]) {
        const discount = couponData[couponCode].discount;
        subtotal -= discount;
        priceElement.textContent = `Rp. ${subtotal.toLocaleString()}`;
        discountElement.textContent = `Rp. ${discount.toLocaleString()}`;
        appliedCouponElement.textContent = couponCode;
        couponApplied = true; // Set the flag to true
        redeemButton.style.display = 'none'; // Hide the redeem button
      } else {
        alert('Invalid coupon code.');
      }
    } catch (error) {
      console.error('Error fetching coupon data:', error);
      alert('Error applying coupon. Please try again.');
    }
  }

  function checkout(productName, productPrice, productDescription) {
    const recipientName = document.getElementById('recipient-name').value;
    const whatsappNumber = document.getElementById('whatsapp-number').value;
    const couponCode = document.getElementById('coupon-code').value || 'no coupon';
    const subtotal = document.getElementById('subtotal').textContent.replace('Rp.', '').trim();

    const whatsappLink = `https://wa.me/6288238792468?text=Permisi+membeli+${productName}%0AHarga: Rp.${productPrice}%0ADeskripsi: ${productDescription}%0ACoupon: ${couponCode}%0ASubtotal: Rp.${subtotal}%0ANama+penerima: ${recipientName}%0ANomor+WhatsApp: ${whatsappNumber}`;
    window.open(whatsappLink, '_blank');
  }
</script>

</body>
</html>
